@model ObtenerPesoSAP.Models.CPUsuario

@{
    ViewBag.Title = "Modificar Datos de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="form-horizontal container form-group col-md-12  jumbotron" style="background-color:#5c87b2;">

    <h2>Modificar Usuario</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <h4>Cambio de datos</h4>
        <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CPIdUsuario)
            @Html.HiddenFor(model => model.Estatus)
            @Html.HiddenFor(model => model.CPRol_id)


            <div class="form-group">
                @Html.LabelFor(model => model.CPNombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPNombreUsuario, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.CPNombreUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CPCorreo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPCorreo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPCorreo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CPPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.CPPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPassword, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Grabar" class="btn btn-danger btn-lg" />
                    @Html.ActionLink("Regresar", "Index", "Usuarios", null, new { @class = "btn btn-danger btn-lg", @style = "display:inline" })
                </div>
            </div>
    }
</div>

      


