@model ObtenerPesoSAP.Models.CPBitacora
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <script src="~/Scripts/sweetalert2@8.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/animate.css">
</head>
@Html.Hidden("TipoVehiculo")
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />


<div class="col-md-12 jumbotron" style="color:#000000; font:caption; background-color:#5c87b2;">
    <h2 style="color:#ffffff;">Consulta</h2>
    <h4>Detalles de Informacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPIdTransporte)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.CPIdTransporte)*@
            @Html.DisplayFor(model => model.CPIdTransporte, new { @class = "form-control VarConsecutivo", @maxlength = "10" })
        </dd>

        <dt style="color:#ffffff;">
            @Html.LabelFor(model => model.CPIdCliente, htmlAttributes: new { @class = "control-label", @id = "LblClientes", @disabled = "disabled", style = "text-align-last:right;" })
        </dt>

        <dd>
            <table class="table table-striped" id="TblClientes">
                <tr>
                    <th style="width:550px;" type="text" maxlength="550">Cliente(s)</th>
                    <th>Poblacion</th>
                    <th>Region</th>
                </tr>
                <tbody class="tablaCli"></tbody>
            </table>
        </dd>


        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPNumEconomico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPNumEconomico)
        </dd>
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPPlaca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPPlaca)
        </dd>
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPNumPorte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPNumPorte)
        </dd>
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPNomConductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPNomConductor)
        </dd>

        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPIdMaterial)
        </dt>

        <dd>
            <table class="table table-striped" id="TblMateriales">
                <tr>
                    <th>Cantidad</th>
                    <th>Codigo</th>
                    <th style="width:400px;" type="text" maxlength="400">Descripcion de Materiales</th>
                </tr>
                <tbody class="tablaAqui"></tbody>
            </table>
        </dd>



        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPPesoEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPPesoEntrada)
        </dd>
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPPesoSalida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPPesoSalida)
        </dd>
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPPesoNeto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPPesoNeto)
        </dd>
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPFechaEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPFechaEntrada)
        </dd>
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CpFechaSalida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CpFechaSalida)
        </dd>
        @*
                <dt>
                    @Html.DisplayNameFor(model => model.CPEntrada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CPEntrada)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CPSalida)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CPSalida)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CPCatEmpresas.CPDescripcionEmpresa)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CPCatEmpresas.CPDescripcionEmpresa)
                </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CPUsuario.CPNombreUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CPUsuario.CPNombreUsuario)
            </dd>*@
        <dt style="color:#ffffff;">
            @Html.DisplayNameFor(model => model.CPUsuario1.CPNombreUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPUsuario1.CPNombreUsuario)
        </dd>
    </dl>
    <a href="/Bitacora/Bitacora" , class='btn btn-danger btn-lg' id='Nvo' data-toggle="modal" type="reset">Regresar </a>
</div>




<script type="text/javascript">


    $(document).ready(function () {


        if ("@ViewBag.VarConsecutivo" != null || "@ViewBag.VarConsecutivo" != "")
            $("#VarConsecutivo").val("@ViewBag.VarConsecutivo");
        var IdTrans = @ViewBag.VarConsecutivo
       

        $("#IdMaterial").css("display", "none");
        $("#LblMaterial").css("display", "none");

        $("#lblTipoPipa").css("display", "none");
        $("#radTipoPipa").css("display", "none");

        $("#lblIso").css("display", "none");
        $("#radIso").css("display", "none");

        $("#lblOtros").css("display", "none");
        $("#radOtros").css("display", "none");

        $("#Validar").css("display", "none");
        $("#transporte").css("display", "none");

        $("#CPPesoSalida").css("display", "none");
        $(".LblSal").css("display", "none");
        $(".TxtEnt").css("display", "none");

        $("#CPPesoEntrada").css("display", "none");
        $(".LblEnt").css("display", "none");
        $(".TxtEnt").css("display", "none");

        $("#CPPesoNeto").css("display", "none");
        $(".LblNeto").css("display", "none");
        $(".TxtNeto").css("display", "none");

        $("#CPNumEconomico").css("display", "none");
        $(".Eco").css("display", "none");

        $("#CPNumPorte").css("display", "none");
        $(".Porte").css("display", "none");

        $("#CPNomConductor").css("display", "none");
        $(".Nom").css("display", "none");

        $("#CPNumCelular").css("display", "none");
        $(".Cel").css("display", "none");

        $("#CPPlaca").css("display", "none");
        $(".Placa").css("display", "none");

        $("#Entra").css("display", "none");
        $("#Sale").css("display", "none");

        $("#TipoEnt").css("display", "none");
        $("#TipoSal").css("display", "none");

        $("#OpGraba").css("display", "none");

        $("#EntradaPeso").css("display", "none");
        $("#SalidaPeso").css("display", "none");
        $("#transporte").css("display", "none");
        $(".TipoVehiculo").css("display", "none");

            $("#Validar").css("display", "none");
            $("#transporte").css("display", "none");
            $(".TipoVehiculo").css("display", "none");


        $("#PesoEnt").css("display", "none");
        $("#PesoSal").css("display", "none");
        $("#PesoNeto").css("display", "none");

        $("#LeerEntradaSC").css("display", "none");
        $("#LeerArchivoSC").css("display", "none");
        $("#LeerPesoSal").css("display", "none");
        $("#LeerPesoEnt").css("display", "none");

        $("#listaValores").css("display", "none");

        $("#tablaaqui").css("display", "none");
        $("#TblMateriales").css("display", "none");

        $("#tablaCli").css("display", "none");
        $("#TblClientes").css("display", "none");


        $("#Transportista").css("display", "none");
        //$(".Transportista").css("display", "none");
        $("#LblClientes").css("display", "none");


        $("#tablaCli" ).attr('readonly', true);
        $("#TblClientes").attr('readonly', true);
        $("#Transportista").attr('readonly', true);
        $("#LblClientes").attr('readonly', true);


        $("#TblMateriales").css("display", "block");

        var IdTipo = ""
        IdTipo = "Otros"

        var plantaID = @Session["idPlantaDF"];
        var IdTransporte =  IdTrans;
        var Id =  IdTrans;
        var Captura = @Session["TipoCaptura"];


        $("#Validar").css("display", "None");
        
        Buscar();
    });


    $("#Entra").change(function () {
        $("#CPPesoSalida").css("display", "none");
        $(".LblSal").css("display", "none");
        $(".TxtSal").css("display", "none");

        $("#CPPesoEntrada").css("display", "block");
        $(".LblEnt").css("display", "block");
        $(".TxtEnt").css("display", "block");

        $("#LeerEntradaSC").css("display", "none");
        $("#LeerArchivoSC").css("display", "none");
        $("#LeerPesoSal").css("display", "none");
        $("#LeerPesoEnt").css("display", "none");

        var Captura = @Session["TipoCaptura"];
        if (Captura == 3)
        {
            $("#LeerPesoSal").css("display", "none");
            $("#LeerPesoEnt").css("display", "block");
        }



        if (Captura == 2)
        {
            $("#LeerEntradaSC").css("display", "none");
            $("#LeerArchivoSC").css("display", "none");
            $("#LeerPesoEnt").css("display", "block");
            $("#LeerPesoSal").css("display", "none");
        }
    });


    $(document).on('keypress',function(e)
    {
        if(e.which == 13)
        {
            if ($("#CPPesoSalida").val() > 0)
            {
                $("#CPPesoNeto").val($("#CPPesoSalida").val()-$("#CPPesoEntrada").val());
            }
            else
            {
                $("#CPPesoNeto").val($("#CPPesoEntrada").val());
            }

        }
    });



    $("#Sale").change(function () {
        $("#CPPesoSalida").css("display", "block");
        $(".LblSal").css("display", "block");
        $(".TxtSal").css("display", "block");

        $("#CPPesoNeto").css("display", "block");
        $(".LblNeto").css("display", "block");
        $(".TxtNeto").css("display", "block");

        $("#CPPesoEntrada").css("display", "none");
        $(".LblEnt").css("display", "none");
        $(".TxtEnt").css("display", "none");

        $("#LeerArchivoSC").css("display", "none");
        $("#LeerPesoSal").css("display", "none");
        $("#LeerPesoEnt").css("display", "none");

        var Captura = @Session["TipoCaptura"];
        if (Captura == 3)
        {
            $("#LeerPesoSal").css("display", "none");
            $("#LeerPesoEnt").css("display", "block");
        }



        if (Captura == 2)
        {
            $("#LeerEntradaSC").css("display", "none");
            $("#LeerArchivoSC").css("display", "none");
            $("#LeerPesoEnt").css("display", "none");
            $("#LeerPesoSal").css("display", "block");
        }

    });


    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //																																									//
    // Funcion para realizar autorizaciones de materiales que rebasan los factores minimos y maximos de mismos, esta autorizacion la deben realizar solo supervisores   //
    //																																									//
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    $(function()
    {
        $("#Autoriza").click(function ()
        {
            var IdUser = 0;
            IdUser = $("#CPIdUsuario").val();

            var params =
            {
                IdAutoriza: IdUser,
                IdClave: $("#CveAcceso").val(),
                MotivoAuto: $("#MotivoAutoriza").val(),
            };


            $.ajax(
                {
                    url: "/Bascula/Autorizacion",
                    method: "post",
                    data: params,
                    success: function (result)
                    {
                        if(result.toString()=="fallo")
                        {
                            Swal.fire({
                                title: 'El usuario no existe',
                                text: "Presione el boton para cerrar!",
                                type: "error",
                                animation: false,
                                customClass: {
                                    popup: 'animated tada'
                                }
                            })

                        }
                        else
                        {
                            if(result != -1)
                            {
                                $.each(result, function (index, item)
                                {
                                    Swal.fire({
                                        title: 'La Autorizacion fue correcta',
                                        text: "Presione el boton para cerrar!",
                                        type: "success",
                                        showConfirmButton: true,
                                        confirmButtonText: "Cerrar",
                                        animation: false,
                                        customClass: {
                                            popup: 'animated tada'
                                        }
                                    }). then(function(result){
                                        window.location.href = "Bascula";
                                    })


                                });//fin siclo

                            }
                            else
                            {
                                Swal.fire({
                                    title: 'El usuario no existe',
                                    text: "Presione el boton para cerrar!",
                                    type: "error",
                                    animation: false,
                                    customClass: {
                                        popup: 'animated tada'
                                    }
                                })

                            }

                        }
                    },
                });
        });
    });

    //////////////////////////////////////////////////////
    //													//
    // Validamos el numero de transporte dentro de SAP  //
    //													//
    //////////////////////////////////////////////////////
    $(function()
    {
        $("#Validar").click(function ()
        {
            $("#TblMateriales").css("display", "block");

            var IdTipo = ""
            IdTipo = "Otros"

            var plantaID = @Session["idPlantaDF"];
            var IdTransporte = $("#VarConsecutivo").val();
            var Id = $("#VarConsecutivo").val();
            var Captura = @Session["TipoCaptura"];

            $("#Validar").css("display", "None");
            Buscar();

        });
    });



    //////////////////////////////////////////////////////////////////////////////////
    //																				//
    //  Validando que todos los campos de captura de los generales vayan completos  //
    //																				//
    //////////////////////////////////////////////////////////////////////////////////
    $(function()
    {
        $("#graba").click(function ()
        {

            if($("#CPNumPorte").val().length < 1) {
                Swal.fire({
                    title: 'La Carta porte es obligatoria',
                    text: "Presione el boton para cerrar!",
                    type: "error",
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                })
                return false;
            }


            if($("#CPNumEconomico").val().length < 1) {
                Swal.fire({
                    title: 'El Economico es obligatorio',
                    text: "Presione el boton para cerrar!",
                    type: "error",
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                })
                return false;
            }


            if($("#CPNomConductor").val().length < 1) {
                Swal.fire({
                    title: 'El Conductor es obligatorio',
                    text: "Presione el boton para cerrar!",
                    type: "error",
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                })
                return false;
            }

            if($("#CPNumCelular").val().length < 1) {
                Swal.fire({
                    title: 'El Celular es obligatorio',
                    text: "Presione el boton para cerrar!",
                    type: "error",
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                })
                return false;
            }


            if($("#CPPlaca").val().length < 1) {
                Swal.fire({
                    title: 'Las Placas son obligatorias',
                    text: "Presione el boton para cerrar!",
                    type: "error",
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                })
                return false;
            }

            if($("#PesoNeto").val() <= 0)
            {
                Swal.fire({
                    title: 'El peso neto debe ser mayor que cero',
                    text: "Presione el boton para cerrar!",
                    type: "error",
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                })
                return false;
            }
        });
    });








    $("#LeerEntradaSC").click(function ()
    {
        $("#LeerEntradaSC").val("");
    });




    $("#LeerArchivoSC").click(function ()
    {
        $("#LeerArchivoSC").val("");
    });



    $("#LeerPesoEnt").click(function ()
    {
        $("#LeerPesoEnt").val("");
    });

    $(function()
    {
        $("#LeerPesoEnt").change(function (e)
        {
            var cod = e.target.files[0].name;
            var Tipo = @Session["TipoCaptura"];

            if (cod != "Peso.txt")
            {
                if (Tipo != 3)
                {
                    Swal.fire("error el archivo no es el correcto, verifiquelo", 'Presione el boton para cerrar!', 'error');

                }
                else
                {
                    var Letra = cod.substring(12,13);
                    if (Letra != "E")
                    {
                        Swal.fire("error el archivo no es el correcto, verifiquelo", 'Presione el boton para cerrar!', 'error');
                    }
                    else
                    {
                        var Col = 0;
                        var resultado = "";
                        var archivo3 = e.target.files[0];
                        if (!archivo3)
                        {
                            return;
                        }
                        var lector3 = new FileReader();

                        lector3.onload = function(e) {
                            var resultado = e.target.result;

                            Col = resultado.indexOf(",");

                            var Cons = resultado.substring(0, Col);
                            if (Cons != null)
                            {
                                //ViewBag.VarConsecutivo = Cons;
                            }

                            Cons= Cons+","
                            resultado = resultado.replace(Cons, "")

                            Col = resultado.indexOf(",");
                            var Placas = resultado.substring(0, Col);
                            if (Placas != null)
                            {
                                //$("#CPPlaca").val(Placas);
                            }
                            Placas= Placas+","
                            resultado = resultado.replace(Placas, "")

                            Col = resultado.indexOf(",");
                            var Tara = resultado.substring(0, Col);
                            if (Tara != null)
                            {
                                $("#CPPesoEntrada").val(parseInt(Tara));
                                $("#CPPesoSalida").val(0);
                                $("#CPPesoNeto").val(0);
                                $("#CPEntrada").val(true);
                            }
                            Tara= Tara+","
                            resultado = resultado.replace(Tara, "")


                            Col = resultado.indexOf(",");
                            var Bruto = resultado.substring(0, Col);
                            if (Bruto != null)
                            {
                                //$("#CPPesoSalida").val(Bruto);
                                //$("#CPSalida").val(true);
                            }
                            Bruto= Bruto+","
                            resultado = resultado.replace(Bruto, "")


                            Col = resultado.indexOf(",");
                            var Neto = resultado.substring(0, Col);
                            if (Neto != null)
                            {
                                //$("#CPPesoNeto").val(Neto);
                            }
                            Neto= Neto+","
                            resultado = resultado.replace(Neto, "")


                            Col = resultado.indexOf(",");
                            var FechaEnt = resultado.substring(0, Col);
                            if (FechaEnt != null)
                            {
                                //$("#CPFechaEntrada").val(FechaEnt);
                            }
                            FechaEnt= FechaEnt+","
                            resultado = resultado.replace(FechaEnt, "")

                            Col = resultado.indexOf(",");
                            var HoraEnt = resultado.substring(0, Col);
                            if (HoraEnt != null)
                            {
                                //$("#CPPlaca").val(HoraEnt);
                            }
                            HoraEnt= HoraEnt+","
                            resultado = resultado.replace(HoraEnt, "")

                            Col = resultado.indexOf(",");
                            var FechaSal = resultado.substring(0, Col);
                            if (FechaSal != null)
                            {
                                //$("#CpFechaSalida").val(FechaSal);
                            }
                            Col = Col + 1;
                            FechaSal= FechaSal+","
                            resultado = resultado.replace(FechaSal, "")

                            Col = resultado.indexOf(",");
                            var HoraSal = resultado.substring(0, Col);
                            if (HoraSal != null)
                            {
                                //$("#CPPlaca").val(HoraSal);
                            }
                            HoraSal= HoraSal+","
                            resultado = resultado.replace(HoraSal, "")

                            var Eco = resultado.substring(0, Col);
                            if (Eco != null)
                            {
                                //$("#CPNumEconomico").val(Eco);
                            }
                            Eco= Eco+","
                            resultado = resultado.replace(Eco, "")
                        };
                        lector3.readAsText(archivo3);


                    }
                }
            }
            else
            {
                if (Tipo == 2)
                {
                    var archivo = e.target.files[0];
                    if (!archivo)
                    {
                        return;
                    }
                    var lector = new FileReader();
                    lector.onload = function(e)
                    {
                        var contenido = e.target.result;
                        $("#CPPesoEntrada").val(parseInt(contenido));
                        $("#CPPesoNeto").val(parseInt(contenido));
                    };
                    lector.readAsText(archivo);
                }
                else
                {
                    Swal.fire("error el archivo no es el correcto, verifiquelo", 'Presione el boton para cerrar!', 'error');
                }


            }


        }
     );
    });


    $("#LeerPesoSal").click(function ()
    {
        $("#LeerPesoSal").val("");
    });


    $(function()
    {
        $("#LeerPesoSal").change(function (e)
        {
            var cod = e.target.files[0].name;
            var Tipo = @Session["TipoCaptura"];

            if (cod != "Peso.txt")
            {
                if (Tipo != 3)
                {
                    Swal.fire("error el archivo no es el correcto, verifiquelo", 'Presione el boton para cerrar!', 'error');
                }
                else
                {
                    var Letra = cod.substring(12,13);
                    if (Letra != "S")
                    {
                        Swal.fire("error el archivo no es el correcto, verifiquelo", 'Presione el boton para cerrar!', 'error');
                    }
                    else
                    {
                        var Col = 0;
                        var resultado = "";
                        var archivo3 = e.target.files[0];
                        if (!archivo3)
                        {
                            return;
                        }
                        var lector3 = new FileReader();

                        lector3.onload = function(e) {
                            var resultado = e.target.result;

                            Col = resultado.indexOf(",");

                            var Cons = resultado.substring(0, Col);
                            if (Cons != null)
                            {
                                //ViewBag.VarConsecutivo = Cons;
                            }

                            Cons= Cons+","
                            resultado = resultado.replace(Cons, "")

                            Col = resultado.indexOf(",");
                            var Placas = resultado.substring(0, Col);
                            if (Placas != null)
                            {
                                //$("#CPPlaca").val(Placas);
                            }
                            Placas= Placas+","
                            resultado = resultado.replace(Placas, "")

                            Col = resultado.indexOf(",");
                            var Tara = resultado.substring(0, Col);
                            if (Tara != null)
                            {
                                $("#CPPesoSalida").val(parseInt(Tara));
                                $("#CPPesoNeto").val($("#CPPesoSalida").val()-$("#CPPesoEntrada").val());
                                $("#CPSalida").val(true);
                            }
                            Tara= Tara+","
                            resultado = resultado.replace(Tara, "")


                            Col = resultado.indexOf(",");
                            var Bruto = resultado.substring(0, Col);
                            if (Bruto != null)
                            {
                                //$("#CPPesoSalida").val(Bruto);
                                //$("#CPSalida").val(true);
                            }
                            Bruto= Bruto+","
                            resultado = resultado.replace(Bruto, "")


                            Col = resultado.indexOf(",");
                            var Neto = resultado.substring(0, Col);
                            if (Neto != null)
                            {
                                //$("#CPPesoNeto").val(Neto);
                            }
                            Neto= Neto+","
                            resultado = resultado.replace(Neto, "")


                            Col = resultado.indexOf(",");
                            var FechaEnt = resultado.substring(0, Col);
                            if (FechaEnt != null)
                            {
                                //$("#CPFechaEntrada").val(FechaEnt);
                            }
                            FechaEnt= FechaEnt+","
                            resultado = resultado.replace(FechaEnt, "")

                            Col = resultado.indexOf(",");
                            var HoraEnt = resultado.substring(0, Col);
                            if (HoraEnt != null)
                            {
                                //$("#CPPlaca").val(HoraEnt);
                            }
                            HoraEnt= HoraEnt+","
                            resultado = resultado.replace(HoraEnt, "")

                            Col = resultado.indexOf(",");
                            var FechaSal = resultado.substring(0, Col);
                            if (FechaSal != null)
                            {
                                //$("#CpFechaSalida").val(FechaSal);
                            }
                            Col = Col + 1;
                            FechaSal= FechaSal+","
                            resultado = resultado.replace(FechaSal, "")

                            Col = resultado.indexOf(",");
                            var HoraSal = resultado.substring(0, Col);
                            if (HoraSal != null)
                            {
                                //$("#CPPlaca").val(HoraSal);
                            }
                            HoraSal= HoraSal+","
                            resultado = resultado.replace(HoraSal, "")

                            var Eco = resultado.substring(0, Col);
                            if (Eco != null)
                            {
                                //$("#CPNumEconomico").val(Eco);
                            }
                            Eco= Eco+","
                            resultado = resultado.replace(Eco, "")
                            //mostrarContenido3(contenido3);
                        };
                        lector3.readAsText(archivo3);
                    }
                }
            }
            else
            {
                if (Tipo == 2)
                {
                    var archivo = e.target.files[0];
                    if (!archivo)
                    {
                        return;
                    }

                    var lector = new FileReader();
                    lector.onload = function(e)
                    {
                        var contenido = e.target.result;
                        $("#CPPesoSalida").val(parseInt(contenido));
                        $("#CPPesoNeto").val($("#CPPesoSalida").val()-$("#CPPesoEntrada").val());
                    };
                    lector.readAsText(archivo);
                }
                else
                {
                    Swal.fire("error el archivo no es el correcto, verifiquelo", 'Presione el boton para cerrar!', 'error');
                }
            }


        }

     );
    });



    function Buscar()
    {
        var IdTrans = @ViewBag.VarConsecutivo
        var plantaID = @Session["idPlantaDF"];
        var Captura = @Session["TipoCaptura"];
        var IdTransporte = IdTrans;

        var fecha = new Date();
        var dd = fecha.getDate() + "/" + (fecha.getMonth() + 1) + "/" + fecha.getFullYear() + " " + fecha.getHours() + ":" + fecha.getMinutes() + ":" + fecha.getSeconds();

        var lista = "";
        $('.listaValores').each(function(i, obj) {
            lista =lista+obj.value.toString();

        });

        var entity =
            {
                IdPlanta: plantaID,
                Id: IdTransporte,
                IdTipo: "Otros",
                FechaIni: dd,
                valoresList: lista
            };

        $.ajax({
            url: "/Bascula/WebSer",
            method: "post",
            data: entity,
            success: function (result)
            {

                if (result != null && result != 1)
                {
                    $.each(result, function (index, item)
                    {
                        var tablastring = " <tr id='"+item.Codigo.toString()+"'><td>"+item.Requerido.toString()+"</td><td>"+item.Id.toString()+"</td><td>"+item.Descripcion.toString()+"</td></tr>";
                        $(".tablaAqui").append(tablastring);
                    });



                }
                else
                {
                    if (result = 1)
                    {
                        Swal.fire({
                            title: 'El material no esta dado de alta dentro del portal vaya primero a la opcion catalogos en materiales para darlo de alta y vuelva a interar cargar nuevamente el numero de transporte',
                            text: "Presione el boton para cerrar!",
                            type: "error",
                            showConfirmButton: true,
                            confirmButtonText: "Cerrar",
                            animation: false,
                            customClass: {
                                popup: 'animated tada'
                            }
                        }). then(function(result){
                            window.location.href = "Bascula";
                        })

                    }

                }
            },
            error: function (xhr, ajaxOptions, thrownError)
            {
                Swal.fire({
                    title: 'Error al momento de cargar los materiales, verifiquelo',
                    text: "Presione el boton para cerrar!",
                    type: "error",
                    showConfirmButton: true,
                    confirmButtonText: "Cerrar",
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                }). then(function(result){
                    window.location.href = "Bascula";
                })
            }});

        $.ajax({
            url: "/Bascula/Index3",
            method: "post",
            data: entity,
            success: function (result)
            {
                if(result.toString()=="fallo")
                {
                    Swal.fire({
                        title: 'El Numero de ID de Transporte no existe en el sistema SAP',
                        text: "Presione el boton para cerrar!",
                        type: "error",
                        showConfirmButton: true,
                        confirmButtonText: "Cerrar",
                        animation: false,
                        customClass: {
                            popup: 'animated tada'
                        }
                    }). then(function(result){
                        window.location.href = "Bascula";
                    })
                }
                else
                {
                    $("#lblTipoPipa").css("display", "none");
                    $("#radTipoPipa").css("display", "none");

                    $("#lblIso").css("display", "none");
                    $("#radIso").css("display", "none");

                    $("#lblOtros").css("display", "none");
                    $("#radOtros").css("display", "none");

                    $("#Validar").css("display", "none");
                    $("#transporte").css("display", "none");

                    $("#CPNumEconomico").css("display", "block");
                    $(".Eco").css("display", "block");

                    $(".CPNumPorte").css("display", "block");
                    $(".Porte").css("display", "block");

                    $("#CPNomConductor").css("display", "block");
                    $(".Nom").css("display", "block");

                    $("#CPNumCelular").css("display", "block");
                    $(".Cel").css("display", "block");

                    $("#CPPlaca").css("display", "block");
                    $(".Placa").css("display", "block");

                    $(".CPNumPorte").css("display", "block");
                    $(".Porte").css("display", "block");

                    $("#OpGraba").css("display", "block");

                    $("#CPPesoSalida").css("display", "none");
                    $(".LblSal").css("display", "none");
                    $(".TxtSal").css("display", "none");

                    $("#CPPesoEntrada").css("display", "none");
                    $(".LblEnt").css("display", "none");
                    $(".TxtEnt").css("display", "none");

                    $("#LblMaterial").css("display", "block");
                    $("#IdMaterial").css("display", "block");

                    $("#CPPesoNeto").css("display", "none");
                    $(".LblNeto").css("display", "none");
                    $(".TxtNeto").css("display", "none");

                    $("#LeerPesoSal").css("display", "none");
                    $("#LeerPesoEnt").css("display", "none");
                    $("#LeerArchivoSC").css("display", "none");
                    $("#LeerEntradaSC").css("display", "none");

                    $("#OpGraba").css("display", "block");
                    $("#tablaaqui").css("display", "block");
                    $("#tablaCli").css("display", "block");



                    if(result != -1 && result != -2 && result != -3 && result != -4)
                    {
                        $.each(result, function (index, item)
                        {
                            if (item.CPIdEmpresa != plantaID)
                            {
                                Swal.fire({
                                    title: 'El Numero de ID de Transporte ya existe en otra Planta',
                                    text: "Presione el boton para cerrar!",
                                    type: "error",
                                    showConfirmButton: true,
                                    confirmButtonText: "Cerrar",
                                    animation: false,
                                    customClass: {
                                        popup: 'animated tada'
                                    }
                                }). then(function(result){
                                    window.location.href = "Bascula";
                                })

                            }
                            else
                            {
                                $("#VarConsecutivo" ).attr('readonly', true);
                                $("#CPPesoNeto").attr('readonly', true);
                                $("#CPNumPorte").val(item.CPNumPorte);
                                $("#CPConsecutivo").val(item.CPConsecutivo);
                                $("#CPNumEconomico").val(item.CPNumEconomico);
                                $("#CPPlaca").val(item.CPPlaca);
                                $("#CPNomConductor").val(item.CPNomConductor);
                                $("#CPFechaEntrada").val(item.CPFechaEntrada);
                                $("#CPEntrada").val(item.CPEntrada);
                                $("#CPSalida").val(item.CPSalida);
                                $("#CPNumCelular").val(item.CPNumCelular);
                                $("#CPPesoNeto").val(item.CPPesoNeto);
                                $("#IdMaterial").val(item.CPIdMaterial);


                                if (item.CPPesoEntrada > 0)
                                {
                                    $("#CPPesoEntrada").val(item.CPPesoEntrada);
                                }
                                else
                                {
                                    $("#CPPesoEntrada").val("");
                                }


                                if (item.CPPesoSalida > 0)
                                {
                                    $("#CPPesoSalida").val(item.CPPesoSalida);
                                }
                                else
                                {
                                    $("#CPPesoSalida").val("");
                                }


                                if (item.CPPesoNeto > 0)
                                {
                                    $("#CPPesoNeto").val(item.CPPesoNeto);
                                }
                                else
                                {
                                    $("#CPPesoNeto").val("");
                                }


                                if (item.CPPesoEntrada != null && item.CPPesoEntrada > 0)
                                {
                                    if (item.CPEstatus >= 2)
                                    {
                                        // registros completo
                                        $("#IdMaterial").css("display", "block");
                                        $("#LblMaterial").css("display", "block");

                                        $("#IdMaterial" ).attr('readonly', true);
                                        $(".IdMaterial" ).attr('readonly', true);

                                        $("#VarConsecutivo" ).attr('readonly', true);
                                        $("#Graba").css("disabled", "true");

                                        $("#LeerEntradaSC").css("display", "none");
                                        $("#LeerArchivoSC").css("display", "none");
                                        $("#LeerPesoEnt").css("display", "none");
                                        $("#LeerPesoSal").css("display", "none");

                                        $("#CPNumPorte").attr('readonly', true);
                                        $("#CPNumEconomico").attr('readonly', true);
                                        $("#CPPlaca").attr('readonly', true);
                                        $("#CPNomConductor").attr('readonly', true);
                                        $("#CPNumCelular").attr('readonly', true);

                                        $("#Entra").css("display", "block");
                                        $("#Sale").css("display", "block");

                                        $("#TipoEnt").css("display", "block");
                                        $("#TipoSal").css("display", "block");

                                        $("#CPPesoSalida").css("display", "block");
                                        $(".LblSal").css("display", "block");
                                        $(".TxtSal").css("display", "block");

                                        $("#CPPesoEntrada").css("display", "block");
                                        $(".LblEnt").css("display", "block");
                                        $(".TxtEnt").css("display", "block");

                                        $("#CPPesoNeto").css("display", "block");
                                        $(".LblNeto").css("display", "block");
                                        $(".TxtNeto").css("display", "block");

                                        $( ".TxtEnt" ).attr('readonly', false);
                                        $( ".TxtSal" ).attr('readonly', false);
                                        $( ".TxtNeto").attr('readonly', true);

                                        $("#tablaCli").css("display", "none");
                                        $("#TblClientes").css("display", "none");
                                        $("#Transportista").css("display", "none");
                                        $("#LblClientes").css("display", "none");

                                        if (Captura == 3)
                                        {
                                            $( ".TxtEnt" ).attr('readonly', true);
                                            $( ".TxtSal" ).attr('readonly', true);
                                            $( ".TxtNeto").attr('readonly', true);

                                            $("#Validar").css("display", "none");
                                            $("#transporte").css("display", "none");

                                            $("#LeerEntradaSC").css("display", "none");
                                            $("#LeerArchivoSC").css("display", "none");
                                            $("#LeerPesoSal").css("display", "none");
                                            $("#LeerPesoEnt").css("display", "none");
                                        }



                                        if (Captura == 2)
                                        {
                                            $( ".TxtEnt" ).attr('readonly', true);
                                            $( ".TxtSal" ).attr('readonly', true);
                                            $( ".TxtNeto").attr('readonly', true);

                                            $("#Validar").css("display", "none");
                                            $("#transporte").css("display", "none");

                                            $("#LeerEntradaSC").css("display", "none");
                                            $("#LeerArchivoSC").css("display", "none");
                                            $("#LeerPesoEnt").css("display", "none");
                                            $("#LeerPesoSal").css("display", "none");
                                        }

                                    }
                                    else
                                    {
                                        // registrar salida
                                        $("#IdMaterial").css("display", "block");
                                        $("#LblMaterial").css("display", "block");
                                        $("#IdMaterial" ).attr('readonly', false);
                                        $("#VarConsecutivo" ).attr('readonly', true);

                                        $("#Entra").attr("checked", true);
                                        $("#CPPesoEntrada").css("display", "block");
                                        $(".LblEnt").css("display", "block");
                                        $(".TxtEnt").css("display", "block");

                                        $("#LeerEntradaSC").css("display", "none");
                                        $("#LeerArchivoSC").css("display", "none");
                                        $("#LeerPesoEnt").css("display", "none");
                                        $("#LeerPesoSal").css("display", "none");

                                        $("#CPNumPorte").attr('readonly', false);
                                        $("#CPNumEconomico").attr('readonly', false);
                                        $("#CPPlaca").attr('readonly', false);
                                        $("#CPNomConductor").attr('readonly', false);
                                        $("#CPNumCelular").attr('readonly', false);


                                        $("#Sale").css("display", "block");
                                        $("#TipoSal").css("display", "block");

                                        $("#Sale").attr("checked", true);

                                        $("#CPPesoSalida").css("display", "block");
                                        $(".LblSal").css("display", "block");
                                        $(".TxtSal").css("display", "block");


                                        $("#CPPesoNeto").css("display", "block");
                                        $(".LblNeto").css("display", "block");
                                        $(".TxtNeto").css("display", "block");

                                        $("#Entra").css("display", "block");
                                        $("#Sale").css("display", "block");

                                        $("#TipoEnt").css("display", "block");
                                        $("#TipoSal").css("display", "block");

                                        $("#CPPesoSalida").css("display", "block");
                                        $(".LblSal").css("display", "block");
                                        $(".TxtSal").css("display", "block");

                                        $("#CPPesoEntrada").css("display", "block");
                                        $(".LblEnt").css("display", "block");
                                        $(".TxtEnt").css("display", "block");

                                        $("#CPPesoNeto").css("display", "block");
                                        $(".LblNeto").css("display", "block");
                                        $(".TxtNeto").css("display", "block");

                                        $( ".TxtEnt" ).attr('readonly', true);
                                        $( ".TxtSal" ).attr('readonly', false);
                                        $( ".TxtNeto").attr('readonly', true);

                                        $("#tablaCli").css("display", "none");
                                        $("#TblClientes").css("display", "none");
                                        $("#Transportista").css("display", "none");
                                        $("#LblClientes").css("display", "none");

                                        if (Captura == 3)
                                        {
                                            $("#Validar").css("display", "none");
                                            $("#transporte").css("display", "none");

                                            $("#LeerPesoSal").css("display", "block");
                                            $("#LeerPesoEnt").css("display", "none");

                                            $( ".TxtEnt" ).attr('readonly', true);
                                            $( ".TxtSal" ).attr('readonly', true);
                                            $( ".TxtNeto").attr('readonly', true);

                                            $("#CPEntrada").val(true);

                                            $( ".TxtSal" ).attr('readonly', true);
                                            $("#CPSalida").val(true);
                                        }



                                        if (Captura == 2)
                                        {
                                            $("#Validar").css("display", "none");
                                            $("#transporte").css("display", "none");

                                            $("#CPSalida").val(true);

                                            $( ".TxtEnt" ).attr('readonly', true);
                                            $( ".TxtSal" ).attr('readonly', true);
                                            $( ".TxtNeto").attr('readonly', true);

                                            $("#LeerPesoEnt").css("display", "none");
                                            $("#LeerPesoSal").css("display", "block");
                                        }

                                    }

                                }
                                else
                                {
                                    // registro entrada
                                    $("#IdMaterial").css("display", "block");
                                    $("#LblMaterial").css("display", "block");
                                    $(".IdMaterial" ).attr('readonly', false);
                                    $("#VarConsecutivo" ).attr('readonly', true);
                                    $("#LeerArchivoSC").css("display", "none");
                                    $("#LeerPesoEnt").css("display", "none");
                                    $("#LeerPesoSal").css("display", "none");

                                    $("#CPNumPorte").attr('readonly', false);
                                    $("#CPNumEconomico").attr('readonly', false);
                                    $("#CPPlaca").attr('readonly', false);
                                    $("#CPNomConductor").attr('readonly', false);
                                    $("#CPNumCelular").attr('readonly', false);

                                    $("#Entra").css("display", "block");
                                    $("#TipoEnt").css("display", "block");

                                    $("#Entra").attr("checked", true);

                                    $("#CPPesoEntrada").css("display", "block");
                                    $(".LblEnt").css("display", "block");
                                    $(".TxtEnt").css("display", "block");

                                    $("#CPPesoNeto").css("display", "block");
                                    $(".LblNeto").css("display", "block");
                                    $(".TxtNeto").css("display", "block");

                                    $("#Entra").css("display", "block");
                                    $("#Sale").css("display", "none");

                                    $("#TipoEnt").css("display", "block");
                                    $("#TipoSal").css("display", "none");

                                    $("#CPPesoSalida").css("display", "none");
                                    $(".LblSal").css("display", "none");
                                    $(".TxtSal").css("display", "none");

                                    $("#CPPesoEntrada").css("display", "block");
                                    $(".LblEnt").css("display", "block");
                                    $(".TxtEnt").css("display", "block");

                                    $("#CPPesoNeto").css("display", "block");
                                    $(".LblNeto").css("display", "block");
                                    $(".TxtNeto").css("display", "block");

                                    $( ".TxtEnt" ).attr('readonly', false);
                                    $( ".TxtSal" ).attr('readonly', true);
                                    $( ".TxtNeto").attr('readonly', true);

                                    $("#tablaCli").css("display", "none");
                                    $("#TblClientes").css("display", "none");
                                    $("#Transportista").css("display", "none");
                                    $("#LblClientes").css("display", "none");

                                    if (Captura == 3)
                                    {
                                        $( ".TxtEnt" ).attr('readonly', true);
                                        $( ".TxtSal" ).attr('readonly', true);
                                        $( ".TxtNeto").attr('readonly', true);

                                        $("#Validar").css("display", "none");
                                        $("#transporte").css("display", "none");

                                        $("#LeerPesoSal").css("display", "none");
                                        $("#LeerPesoEnt").css("display", "block");
                                    }


                                    if (Captura == 2)
                                    {
                                        $("#Validar").css("display", "none");
                                        $("#transporte").css("display", "none");

                                        $( ".TxtEnt" ).attr('readonly', true);
                                        $( ".TxtSal" ).attr('readonly', true);
                                        $( ".TxtNeto").attr('readonly', true);

                                        $("#LeerPesoEnt").css("display", "block");
                                        $("#LeerPesoSal").css("display", "none");

                                    }
                                }

                            }

                        });//fin siclo

                    }
                    else
                    {
                        //alert(" es negativo ");
                        if (result == -1)
                        {
                            Swal.fire({
                                title: 'El Numero de ID de Transporte NO EXISTE EN SAP',
                                text: "Presione el boton para cerrar!",
                                type: "error",
                                showConfirmButton: true,
                                confirmButtonText: "Cerrar",
                                animation: false,
                                customClass: {
                                    popup: 'animated tada'
                                }
                            }). then(function(result){
                                window.location.href = "Bascula";
                            })
                        }

                        if (result == -2)
                        {
                            Swal.fire({
                                title: 'El Numero de ID de Transporte PERTENECE A OTRA PLANTA',
                                text: "Presione el boton para cerrar!",
                                type: "error",
                                showConfirmButton: true,
                                confirmButtonText: "Cerrar",
                                animation: false,
                                customClass: {
                                    popup: 'animated tada'
                                }
                            }). then(function(result){
                                window.location.href = "Bascula";
                            })
                        }

                        if (result == -4)
                        {
                            Swal.fire({
                                title: 'El Numero de ID de Transporte NO PUEDE SER CERO',
                                text: "Presione el boton para cerrar!",
                                type: "error",
                                showConfirmButton: true,
                                confirmButtonText: "Cerrar",
                                animation: false,
                                customClass: {
                                    popup: 'animated tada'
                                }
                            }).then(function (result) {
                                window.location.href = "Bascula";
                            })
                        }

                        if (result == -3)
                        {
                            $("#CPConsecutivo").val(IdTransporte);
                            //alert("entrada sc")
                            $("#Entra").css("display", "block");
                            $("#TipoEnt").css("display", "block");

                            $("#Sale").attr("checked", true);

                            $("#CPPesoEntrada").css("display", "block");
                            $(".LblEnt").css("display", "block");
                            $(".TxtEnt").css("display", "block");

                            $("#CPPesoNeto").css("display", "block");
                            $(".LblNeto").css("display", "block");
                            $(".TxtNeto").css("display", "block");

                            $( ".TxtEnt" ).attr('readonly', true);
                            $( ".TxtSal" ).attr('readonly', true);

                            $("#Entra").css("display", "block");
                            $("#Sale").css("display", "block");

                            $("#TipoEnt").css("display", "block");
                            $("#TipoSal").css("display", "block");

                            $("#CPPesoSalida").css("display", "block");
                            $(".LblSal").css("display", "block");
                            $(".TxtSal").css("display", "block");

                            $("#CPPesoEntrada").css("display", "block");
                            $(".LblEnt").css("display", "block");
                            $(".TxtEnt").css("display", "block");

                            $("#CPPesoNeto").css("display", "block");
                            $(".LblNeto").css("display", "block");
                            $(".TxtNeto").css("display", "block");

                            $( ".TxtEnt" ).attr('readonly', false);
                            $( ".TxtSal" ).attr('readonly', false);
                            $( ".TxtNeto").attr('readonly', true);
                            $("#TblMateriales").css("display", "block");

                            if (Captura == 3)
                            {
                                $("#Validar").css("display", "none");
                                $("#transporte").css("display", "none");

                                $( ".TxtEnt" ).attr('readonly', true);
                                $( ".TxtSal" ).attr('readonly', true);
                                $( ".TxtNeto").attr('readonly', true);
                                $("#LeerPesoSal").css("display", "none");
                                $("#LeerPesoEnt").css("display", "block");
                            }


                            if (Captura == 2)
                            {
                                $("#Validar").css("display", "none");
                                $("#transporte").css("display", "none");

                                $( ".TxtEnt" ).attr('readonly', true);
                                $( ".TxtSal" ).attr('readonly', true);
                                $( ".TxtNeto").attr('readonly', true);

                                $("#LeerEntradaSC").css("display", "none");
                                $("#LeerArchivoSC").css("display", "none");
                                $("#LeerPesoEnt").css("display", "block");
                                $("#LeerPesoSal").css("display", "none");

                            }

                        }
                    }

                }
            },
            error: function (xhr, ajaxOptions, thrownError)
            {
                alert("Error al momento de cargar");
                alert(xhr.status);
                alert(thrownError);
            }

        });



        $.ajax({
            url: "/Bascula/BuscaClientes",
            method: "post",
            data: entity,
            success: function (result)
            {

                if (result != null)
                {
                    //$("#CPIdCliente").css("display", "block");
                    //$(".VarPlan").css("display", "block");
                    //$("#tablaCli").css("display", "block");
                    //$("#TblClientes").css("display", "block");


                    $("#tablaCli").css("display", "block");
                    $("#TblClientes").css("display", "block");
                    $("#Transportista").css("display", "block");
                    $("#LblClientes").css("display", "block");

                    $("#tablaCli" ).attr('readonly', true);
                    $("#TblClientes").attr('readonly', true);
                    $("#Transportista").attr('readonly', true);
                    $("#LblClientes").attr('readonly', true);



                    $.each(result, function (index, item2)
                    {
                        //var Clientes = " <tr id='"+item2.IdCliente.toString()+"'><td>"+item2.NombreCliente.toString()+"</td><td>"+item2.PoblacionCli.toString()+"</td><td>"+item2.RegionCli.toString()+"</td><td>"+item2.FechaPlan.toString()+"</td><td>"+item2.Transportista.toString()+"</td></tr>";
                        var Clientes = " <tr id='"+item2.IdCliente.toString()+"'><td>"+item2.NombreCliente.toString()+"</td><td>"+item2.PoblacionCli.toString()+"</td><td>"+item2.RegionCli.toString()+"</td></tr>";
                        $(".tablaCli").append(Clientes);

                        $("#VarTrasportista").val(item2.Transportista.toString());
                        $("#VarFechaPlan").val(item2.FechaPlan.toString());

                    });

                }
                else
                {
                    if (result = 1)
                    {
                        Swal.fire({
                            title: 'Ocurrio un error al momento de buscar los datos del transportista',
                            text: "Presione el boton para cerrar!",
                            type: "error",
                            showConfirmButton: true,
                            confirmButtonText: "Cerrar",
                            animation: false,
                            customClass: {
                                popup: 'animated tada'
                            }
                        }). then(function(result){
                            window.location.href = "Bascula";
                        })

                    }

                }
            },
            error: function (xhr, ajaxOptions, thrownError)
            {
                Swal.fire({
                    title: 'Error al momento de cargar los datos del transportista, verifiquelo',
                    text: "Presione el boton para cerrar!",
                    type: "error",
                    showConfirmButton: true,
                    confirmButtonText: "Cerrar",
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                }). then(function(result){
                    window.location.href = "Bascula";
                })
            }});


    }



    $(function() {
        $("#PesoEnt").click(function ()
        {
            var plantaID = @Session["idPlantaDF"];

            var params =
                {
                    IdPlanta:@Session["idPlantaDF"],
                    Id: $("#VarConsecutivo").val(),
                    IdTipo: $('input:radio[name=radio]:checked').val(),
                };

            $.ajax({
                url: "/Bascula/PesoEntrada",
                method: "post",
                data: params,
                success: function (result)
                {

                    $.each(result, function (index, item)
                    {
                        $("#CPNumPorte").val(item.CPNumPorte);
                        $("#CPNumEconomico").val(item.CPNumEconomico);
                        $("#CPNomConductor").val(item.CPNomConductor);
                        $("#CPPlaca").val(item.CPPlaca);

                        $("#CPPesoEntrada").val(item.CPPesoEntrada);
                        $("#CPPesoSalida").val(item.CPPesoSalida);
                        $("#CPPesoNeto").val(item.CPPesoNeto);

                        $("#CPFechaEntrada").val(item.CPFechaEntrada);
                        $("#CPEntrada").val(item.CPEntrada);
                        $("#CPFechaSalida").val(item.CPFechaSalida);
                        $("#CPSalida").val(item.CPSalida);
                        $("#CPNumCelular").val(item.CPNumCelular);

                    });//fin siclo

                },
            });
        });
    });



    $(function() {
        $("#PesoSal").click(function ()
        {
            var plantaID = @Session["idPlantaDF"];

            var params =
                {
                    IdPlanta: @Session["idPlantaDF"],
                    Id: $("#VarConsecutivo").val(),
                    IdTipo: $('input:radio[name=radio]:checked').val(),
                };

            $.ajax({
                url: "/Bascula/PesoSalida",
                method: "post",
                data: params,
                success: function (result)
                {

                    $.each(result, function (index, item)
                    {
                        $("#CPNumPorte").val(item.CPNumPorte);
                        $("#CPNumEconomico").val(item.CPNumEconomico);
                        $("#CPNomConductor").val(item.CPNomConductor);
                        $("#CPPlaca").val(item.CPPlaca);

                        $("#CPPesoEntrada").val(item.CPPesoEntrada);
                        $("#CPPesoSalida").val(item.CPPesoSalida);
                        $("#CPPesoNeto").val(item.CPPesoNeto);

                        $("#CPFechaEntrada").val(item.CPFechaEntrada);
                        $("#CPEntrada").val(item.CPEntrada);
                        $("#CPFechaSalida").val(item.CPFechaSalida);
                        $("#CPSalida").val(item.CPSalida);
                        $("#CPNumCelular").val(item.CPNumCelular);

                    });//fin siclo

                },
            });
        });
    });
</script>


   